body {
    font-family: "Raleway","Helvetica","Arial",sans-serif;
    margin: 0;
    
}

ul {
    list-style-type: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    background-color: black;    
    padding: 0 20px;
}

.nav {
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 50px;
}

.logo-link {
    display: flex;
    height: 100%;
    align-items: center;
}

.logo-img {
    height: 40px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list li {
    padding: 0 10px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.nav-list li:last-of-type {
    padding-right: 0;
}

.nav-list-link {
    position: relative;
    transition: all .25s ease;
}

.nav-list-link::after {
    content: "";
    background: #17baaa;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -8px;
    left: 0;
    transform: scaleX(0);
    transition: all .25s ease;
}

.nav-list-link:hover {
    color: #17baaa;
}

.nav-list-link:hover::after{
    transform: scale(1);
}

.nav-list li:last-of-type a {
    display: flex;
    align-items: center;
    height: 30px;
    background-color: #dd3d53;
    padding: 0 10px;
    border-radius: 3px;
    transition: all .25s ease;
}

.nav-list li:last-of-type a:hover {
    background-color: #c9233a;
}

.nav-list li:last-of-type a svg {
    width: 1em;
    margin-right: 10px;
}
