body {
    font-family: 'Montserrat', sans-serif;
    ;
}

/* main style */
.main {
    display: flex;
    flex-direction: row-reverse;
    background: #F5F7FA;
}

/* main-content style */
.main-content {
    background: #FFFFFF;
}

/* about style */
.about {
    background-color: yellow;
}

/* projects style */
.projects {
    background-color: chocolate;
    margin-top: 100px;
    margin-bottom: 300px;
    margin-left: 60px;
    margin-right: 90px;
}

/* work style */
.work {
    background-color: cyan;
}

/* education style */
.education {
    background-color: darkblue;
}

/* sidebar style */
.sidebar {
    background: #1E2939;
}